<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>AGREGAR ALUMNOS</title>
        <link rel="stylesheet" href="resources/css/estilo_agregar_alumno.css">
        <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Fira+Sans:wght@700&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Fira+Sans:wght@700&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed&display=swap" rel="stylesheet">
    </head>
    <body>
        <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
        <div class="nombre">
            <h3><img src="resources/css/letra-m.png" height="2%" width="2%" class="img"/>INSTITUTO MANUEL DE FALLA</h3>
        </div>
        <div class="div_titulo">
            <h2 class="titulo">AGREGAR ALUMNO</h2>
        </div>
        <div class="formulario">
                <form action="/agregar" method="POST" class="formulario_izq">
                    <table border="0">
                        <div class="div_flex">
                            <tr>
                                <td>Nombre: </td>
                                <td><input type="text" name="nombre" size="40" required></td>
                            </tr>
                        </div>
                        <div class="div_flex">
                            <tr>
                                <td>Apellido: </td>
                                <td><input type="text" name="apellido" size="40" required></label></td>
                            </tr>
                        </div>
                        <div class="div_flex">
                            <tr>
                                <td>DNI: </td>
                                <td><input type="number" name="dni" size="40" required></td>
                            </tr>
                        </div>
                        <div class="div_flex">
                            <tr>
                                <td>Comentario: </td>
                                <td><input type="text" name="comentario" size="40" required></td>
                            </tr>
                        </div>
                        <div class="div_flex">
                            <tr>
                                <td>ID de usuario: </td>
                                <td><input type="text" name="id" size="40" required></td>
                            </tr>
                        </div>
                        <div class="div_flex">
                            <tr>
                                <td>Curso y División: </td>
                                <td><input type="text" name="curso_divi" size="40" required></td>
                            </tr>
                        </div>
                    </table>
                    <div class="bogton1">
                        <button type="submit" id="btn" class="boton1" >GUARDAR</button>
                    </div>
                    <div class="bogton2">
                        <button type="reset" id="btn" class="boton2" ><a href="admin" class="cancelar">CANCELAR</a></button>
                    </div>
                    <a href="usuario" class="usuario">¿No tiene usuario? CREE UNO</a>
                </form>
        </div>
        <% if(typeof alert != "undefined") { %>
            <script>
              Swal.fire({
                title: '<%= alertTitle %>',
                text: '<%= alertMessage %>',
                icon: '<%= alertIcon %>',
                showConfirmButton: '<=% showConfirmButton%>',
                timer: '<%= timer %>'
              }).then(()=>{
                window.location='/<%=ruta %>'
              })
            </script>
        <% } %>

    </body>
</html>